@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');

.footer-row{
    padding: 2vmax;
    margin-bottom: 2%;
}
.footer-title{
    color: #000000 !important;
    font-family: "Montserrat", sans-serif;
    font-size: 1.7vmax !important;
    font-weight: 600;
    letter-spacing: 0.4px;
}
.footer-subtitle{
    color: #333;
}
.icon-img{
    cursor: pointer;
}
.footer-link-text{
    color: #272727 !important;
}