.head-flex-container {
    margin-bottom: 2%;
    padding: 1vmax;
    z-index: 100;
  }

  .icon-img{
    width: 20px;
    height: 20px;
  }

@media screen and (max-width: 500px) {
  .icon-img{
    width: 20px;
  }
}