@import url("https://fonts.googleapis.com/css2?family=Quattrocento+Sans&display=swap");

.single-product-card {
  backdrop-filter: blur(11px) saturate(181%);
  -webkit-backdrop-filter: blur(11px) saturate(181%);
  background-color: rgba(255, 255, 255, 0.63);
  border-radius: 12px;
  border: 1px solid rgba(193, 193, 193, 0.302);
  margin-bottom: 2%;
  padding: 3vmax;
}

.product-primary-text {
  font-size: 2.3vmax;
  font-family: "Quattrocento Sans", sans-serif;
  color: #444;
}

.product-secondary-text {
  font-size: 1.7vmax;
  margin-top: 1vmax;
  font-family: "Jost", sans-serif;
}

.product-head-col {
  display: flex;
  justify-content: space-between;
}

.product-price-text {
  font-size: 1.8vmax;
  font-family: "Quattrocento Sans", sans-serif;
  color: #000;
}

.product-img {
  border-radius: 10px;
}

.modal-heading{
  font-size: 2vmax;
  font-family: "Quattrocento Sans", sans-serif;
}
#divider{
  background-color: #dddcdc;
  height: .1px;
}
.modal-flex{
  margin-bottom: 2vmax;
}