@import url("https://fonts.googleapis.com/css2?family=Quattrocento+Sans&display=swap");

.single-product-card {
  margin-bottom: 2%;
  padding: 3vmax;
}

.product-primary-text {
  font-size: 2.3vmax;
  font-family: "Quattrocento Sans", sans-serif;
  color: #444;
}

.product-secondary-text {
  font-size: 1.7vmax;
  margin-top: 1vmax;
  font-family: "Jost", sans-serif;
}

.product-tertiary-text{
  font-size: 1vmax;
}
.product-head-col {
  display: flex;
  justify-content: space-between;
}

.product-price-text {
  font-size: 1.8vmax;
  font-family: "Quattrocento Sans", sans-serif;
  color: #000;
}

.product-img {
  border-radius: 10px;
}

.modal-heading{
  font-size: 2vmax;
  font-family: "Quattrocento Sans", sans-serif;
}
#divider{
  background-color: #dddcdc;
  height: .1px;
}
.modal-flex{
  margin-bottom: 2vmax;
}