@import url("https://fonts.googleapis.com/css2?family=Quattrocento+Sans&display=swap");

.single-product-card {
  margin-bottom: 2%;
  padding: 3vmax;
}

.product-head-col {
  display: flex;
  justify-content: space-between;
}

.product-price-text {
  font-size: 1.8vmax;
  font-family: "Quattrocento Sans", sans-serif;
  color: #000;
}

.product-img {
  border-radius: 10px;
}

.modal-heading{
  font-size: 2vmax;
  font-family: "Quattrocento Sans", sans-serif;
}
#divider{
  background-color: #dddcdc;
  height: .1px;
}
.modal-flex{
  margin-bottom: 2vmax;
}

.ant-collapse>.ant-collapse-item >.ant-collapse-header .ant-collapse-expand-icon{
height: 30px !important;
}

.ant-collapse>.ant-collapse-item >.ant-collapse-header{
  background-color: #4f4f4f3c;
}

.add-to-cart-btn{
  width: 100%;
  height: 50px !important;
  background-color: rgba(255, 255, 255, 0.805);
  border: none;
}

.add-to-cart-btn:hover{
  background-color: rgba(255, 255, 255, 0.381);
  color: #1e1e1e !important;
}