@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');

.checkout-head-text{
    font-size: 1vmax;
    font-family: "Montserrat", sans-serif;
}
.checkout-divider{
    width: 1px;
    height: 50vh !important;
    background-color: #ddd;
}
.checkout-note{
    text-align: center;
    color: #c8c8c8;
    font-family: "Montserrat", sans-serif;
    background-color: #333;
    margin: auto;
    padding: .2vmax .6vmax;
    border-radius: 3px;
}

/* Order Summary */
.order-summary-main-col{
    padding: 25px;
    width: 100%;
    overflow-y: scroll;
}
.order-summary-table-heading{
    font-family: "Montserrat", sans-serif;
    font-size: 1.1vmax;
}
.order-summary-flex{
    margin-top: 3%;
}
.order-summary-footer-text{
    font-family: "Montserrat", sans-serif;
    font-size: 1.2vmax;
}
.free-del-text{
    color: rgb(6, 93, 6);
}
.selected-payment{
    border: 1px solid #000;
}

.loader {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 10rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    z-index: 100;
    left: 50%;
    top: 50vh;
    transform: translateX(-50%);
  }
  .loader:before,
  .loader:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    animation: pulsOut 1.8s ease-in-out infinite;
    filter: drop-shadow(0 0 1rem rgba(255, 255, 255, 0.75));
  }
  .loader:before {
    width: 100%;
    padding-bottom: 100%;
    box-shadow: inset 0 0 0 1rem #fff;
    animation-name: pulsIn;
  }
  .loader:after {
    width: calc(100% - 2rem);
    padding-bottom: calc(100% - 2rem);
    box-shadow: 0 0 0 0 #fff;
  }

  @keyframes pulsIn {
    0% {
      box-shadow: inset 0 0 0 1rem #fff;
      opacity: 1;
    }
    50%, 100% {
      box-shadow: inset 0 0 0 0 #fff;
      opacity: 0;
    }
  }

  @keyframes pulsOut {
    0%, 50% {
      box-shadow: 0 0 0 0 #fff;
      opacity: 0;
    }
    100% {
      box-shadow: 0 0 0 1rem #fff;
      opacity: 1;
    }
  }
      