.main-row-container {
  background-image: url("../../../assets/bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: cover;
  background-attachment: fixed;
  padding: 1vmax;
}