@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Jost', sans-serif;
}
.primary-us-btn {
    background: rgba(2, 19, 38, 0.6) !important;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border-radius: 10px;
  }
  .pp-title-text{
    color: #3c3c3c !important;
    font-family: 'Jost', sans-serif;
  }
  .glassmorphism-effect{
    backdrop-filter: blur(11px) saturate(181%);
    -webkit-backdrop-filter: blur(11px) saturate(181%);
    background-color: rgba(211, 211, 211, 0.37);
    border-radius: 12px;
    border: 1px solid rgba(193, 193, 193, 0.302);
  }