@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Jost', sans-serif;
}
.primary-us-btn {
    background: rgba(2, 19, 38, 0.6) !important;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border-radius: 10px;
  }
  .pp-title-text{
    color: #3c3c3c !important;
    font-family: 'Jost', sans-serif;
  }
  .glassmorphism-effect{
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }